<!DOCTYPE html>
<html>
<head>
  <title>CV Analyzer</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div class="container">
    <h1>AI CV Analyzer</h1>

    <form action="/cv/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="cv" required />
      <button type="submit">Analyze CV</button>
    </form>
  </div>


    <br />

    <a href="/products" target="_blank" rel="noopener noreferrer">Product Filter</a>

    <br />
    <a href="/" target="_blank" rel="noopener noreferrer">Sample Ai Reply</a>

</body>
</html>